<launch>
  <arg name="mapfile" default="$(find stage_ros)/world/willow-full.yaml" />
  <arg name="worldfile" default="$(find stage_ros)/world/willow-erratic.world" />
  <arg name="urdffile" default="" />
  <arg name="rviz_cfg" default="$(find stage_ros)/rviz/stage.rviz" />
  <arg name="initial_pose_x" default="5.5" />
  <arg name="initial_pose_y" default="1.75" />
  <arg name="initial_pose_a" default="0.0" />

  <arg name="odom_frame_id"   default="/odom"/>
  <arg name="base_frame_id"   default="/base_footprint"/>
  <arg name="global_frame_id" default="/map"/>

  <arg name="odom_topic" default="/odom" />
  <arg name="scan_topic" default="/scan" />
  <arg name="cmd_vel_topic" default="/teleop_velocity_smoother/raw_cmd_vel" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <remap from="map" to="/map" />
    <remap from="base_scan" to="$(arg scan_topic)"/>
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    
    <param name="footprint_padding" value="0.01" />
    <param name="controller_frequency" value="10.0" />
    <param name="controller_patience" value="3.0" />
    <param name="oscillation_timeout" value="30.0" />
    <param name="oscillation_distance" value="0.5" />
    <!--param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /-->
    <rosparam file="$(find navigation_stage)/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navigation_stage)/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation_stage)/move_base_config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation_stage)/move_base_config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation_stage)/move_base_config/base_local_planner_params.yaml" command="load" />
    <!--rosparam file="$(find navigation_stage)/move_base_config/dwa_local_planner_params.yaml" command="load" /-->
  </node>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg mapfile)">
    <param name="frame_id" value="/map" />
  </node>

  <node name="stageros" pkg="stage_ros" type="stageros" args="-g $(arg worldfile)">
    <remap from="/base_scan" to="$(arg scan_topic)" />
    <remap from="/cmd_vel" to="$(arg cmd_vel_topic)" />
  </node>

  <node pkg="amcl" type="amcl" name="amcl" respawn="true">
    <remap from="scan" to="$(arg scan_topic)" />
    <param name="use_map_topic" value="true" />
    <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="odom_model_type" value="omni"/>
    <param name="odom_alpha5" value="0.1"/>
    <param name="transform_tolerance" value="0.2" />
    <param name="gui_publish_rate" value="10.0"/>
    <param name="laser_max_beams" value="30"/>
    <param name="min_particles" value="500"/>
    <param name="max_particles" value="5000"/>
    <param name="kld_err" value="0.05"/>
    <param name="kld_z" value="0.99"/>
    <param name="odom_alpha1" value="0.2"/>
    <param name="odom_alpha2" value="0.2"/>
    <!-- translation std dev, m -->
    <param name="odom_alpha3" value="0.8"/>
    <param name="odom_alpha4" value="0.2"/>
    <param name="laser_z_hit" value="0.5"/>
    <param name="laser_z_short" value="0.05"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.5"/>
    <param name="laser_sigma_hit" value="0.2"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <!-- <param name="laser_model_type" value="beam"/> -->
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="update_min_d" value="0.2"/>
    <param name="update_min_a" value="0.5"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="resample_interval" value="1"/>
    <param name="transform_tolerance" value="0.1"/>
    <param name="recovery_alpha_slow" value="0.0"/>
    <param name="recovery_alpha_fast" value="0.0"/>
    <param name="initial_pose_x" value="$(arg initial_pose_x)" />
    <param name="initial_pose_y" value="$(arg initial_pose_y)" />
    <param name="initial_pose_a" value="$(arg initial_pose_a)" />
    <param name="initial_cov_xx" value="0.5" />
    <param name="initial_cov_yy" value="0.5" />
    <param name="initial_cov_aa" value="0.1" />
  </node>

  <node name="stage" pkg="stage_ros" type="stageros" args="-g $(arg worldfile)">
    <remap from="/base_scan" to="$(arg scan_topic)" />
    <remap from="/cmd_vel" to="$(arg cmd_vel_topic)" />
  </node>

  <include file="$(find turtlebot_teleop)/launch/logitech.launch" />
  <!--base_controller/command:=cmd_vel-->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_stage)/single_robot.rviz" />
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_cfg)" /-->
</launch>

<!-- <launch> -->
<!--   <master auto="start"/> -->
<!--   <param name="/use_sim_time" value="true"/> -->
<!--   <include file="$(find navigation_stage)/move_base_config/move_base.xml"/> -->
<!--   <node name="map_server" pkg="map_server" type="map_server" args="$(find navigation_stage)/stage_config/maps/willow-full-0.025.pgm 0.025" /> -->
<!--   <node pkg="stage_ros" type="stageros" name="stageros" args="$(find navigation_stage)/stage_config/worlds/willow-pr2-2.5cm.world" respawn="false" > -->
<!--     <param name="base_watchdog_timeout" value="0.2"/> -->
<!--   </node> -->
<!--   <include file="$(find navigation_stage)/move_base_config/amcl_node.xml"/>   -->
<!--   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_stage)/single_robot.rviz" /> -->
<!-- </launch> -->

